@font-face {
  font-family: msans900;
  src: url(MuseoSans_900.otf);
}

body {
  background: rgb(132, 132, 132);
  background: linear-gradient(
    31deg,
    rgba(132, 132, 132, 1) 0%,
    rgba(4, 180, 188, 1) 0%,
    rgba(140, 217, 221, 0.7169373549883991) 78%
  );
}

.mainLoginCard {
  box-shadow: 10px 10px rgb(75, 69, 69);
}
#loginBtn:hover {
  background-color: #545759;
}
h1 {
  font-family: msans900;
  font: bold;
  color: #808083;
}

/* Error Message */
.errorMessage {
  margin-top: 1.5%;
}
/* Animated Background CSS */
html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  animation: slide 12s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #00b3be 50%, #545759 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 16s;
}

.bg3 {
  animation-duration: 20s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
